body {
  background-image: url("/img/pexels-anete-lusina-4792507-downscaled.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#register-form-container{
  margin: auto auto;
}
